.navbar {
    background-color: #32a8d8;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 0px;
    color: white;
    height: 42px;
    z-index: 2;
}
.nav-tiny-text {
  font-size: 11px;
  font-weight: 100;
}
.bell-logo {
    position: absolute;
    right: 0px;
    margin: -9px 21px;
    cursor: pointer;
}
.navbar-menu {
  font-size: 36px;
  cursor: pointer;
  -moz-transition: all 0.5s ease;/* WebKit */
  -webkit-transition: all 0.5s ease;/* Opera */
  -o-transition: all 0.5s ease;/* Standard */
  transition: all 0.5s ease;
}
.navbar-menu.rotate {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  -moz-transition: all 0.5s ease;/* WebKit */
  -webkit-transition: all 0.5s ease;/* Opera */
  -o-transition: all 0.5s ease;/* Standard */
  transition: all 0.5s ease;
}
.navbar-toggleable-xl .navbar-collapse {
    width: calc(100% - 200px);
    padding-left: 32px;
}

.dropdown-menu {
    left: initial !important;
    top: 28px;
    right: -5px !important;
}
i#dropdownBellButton {
    height: 20px;
    width: 20px;
    overflow: hidden;
}
a.navbar-brand {
  display: block;
  cursor: pointer;
  left: 50%;
  text-align: center;
  position: absolute;
  font-family: 'Berkshire Swash', cursive;
  letter-spacing: -1px;
  font-size: 34px;
  margin-left: -31px;
}
