
<nav class="navbar navbar-toggleable-xl navbar-light bg-faded">

<!-- Brand -->
<a class="navbar-brand" (click) = "goto_page('home')">Limber</a>
<i class="fa fa-angle-down navbar-menu" aria-hidden="true"
(click) = "toggleLeftIcon()" [ngClass] = "{rotate: !open}"></i>
<!-- Links -->
<div class="collapse navbar-collapse" id="nav-content">
    <div ngbDropdown class="d-inline-block bell-logo">
      <i class="fa fa-bell-o pull-right" aria-hidden="true" id="dropdownBellButton" ngbDropdownToggle></i>
      <div class="dropdown-menu" aria-labelledby="dropdownBellButton">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
<!--<i class="fa fa-bell-o pull-right" aria-hidden="true"></i>-->
</div>
</nav>
<app-left-menu [open] = "open"></app-left-menu>
