<div class="row">
  <br>
  <div class="col-12">
    <input type="text" [(ngModel)] ="userId" class = "col-sm-4">
    <button type="button" class = "col-sm-4" name="button" (click) = "get_project_details_by_user(userId)">
      get_project_details_by_user
    </button>
  </div>
  <div class="col-12">
  <input type="text" [(ngModel)] ="projectId" class = "col-sm-4">
  <button type="button" name="button" class = "col-sm-4" (click) = "get_project_details_by_id(projectId)">
    get_project_details_by_id
  </button>
</div>
<br><hr class = "col-12">
  <div *ngFor = "let project of projects" class = "project-box">
    <div class="col-12 project-box-header">
      {{project.name}}
      <i class="fa fa-pencil-square" (click)="open(project, editProjectModal)" aria-hidden="true"></i>
    </div>
    {{project._id}}
  </div>
</div>

<ng-template #editProjectModal let-c="close" let-d="dismiss" class= "modal modal-lg">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <b>Project : </b> {{projectToEdit.name}}<br>
    <b>Project Id : </b> {{projectToEdit._id}}<br>
    <b>Members : </b><br>
    <div *ngFor = "let member of projectToEdit.memberList" class="">
      {{member.first_name}}
      {{member._id}}
    </div>
    <hr>
    <input type="text" [(ngModel)] ="userId" class = "col-12">
    <button type="button" name="button" class = "col-12" (click) = "add_user_to_project(userId, projectToEdit._id)">add_user_to_project</button>
    <button type="button" name="button" class = "col-12" (click) = "remove_user_from_project(userId, projectToEdit._id)">remove_user_from_project</button>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Save</button>
  </div>
</ng-template>
