.storyPage .breadcrumb{
    background-color: transparent;
    padding: 4px;
    margin: 9px 0px;
}
.detailsTable th {
  width: 200px;
  text-align: left;
  vertical-align: text-bottom;
}
table.detailsTable  {
  width: 100%;
}
.detailsTable tr {
    height: 33px;
}
.detailsTable td {
    padding-right: 15px;
    text-align: justify;
}
